.top-downloadbar-box{
    width: 100%;
}
.top-downloadbar-box .top-downloadbar{
    height: 2.25rem;
    background: rgba(68,68,68,.95);
    width: 100%;
    padding: .125rem 0;
    position: relative;
}
.top-downloadbar-box .top-downloadbar .download-close{
    display: block;
    margin-left: .25rem;
    width: .7rem;
    height: .7rem;
    background-image: url("../img/logo_icon/downloadClose.png");
    background-size: .7rem .7rem;
    margin-top: -0.35rem;
    position: absolute;
    left: 0;
    top:50%;
}
.top-downloadbar-box .top-downloadbar .download-icon{
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 1.25rem;
    top:50%;
    margin-top: -1rem;
    background-image: url("../img/logo_icon/downloadIcon.png");
    background-size: 2rem 2rem;
}
.top-downloadbar-box .top-downloadbar .download-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-80%);
    transform: translateY(-80%);
    left: 3.5rem;
    color: #fff;
    font-size: .6rem;
}
.top-downloadbar-box .top-downloadbar .download-text-desc {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-10%) scale(.5);
    transform: translateY(-10%) scale(.5);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    left: 3.5rem;
    color: #c7c7c7;
    font-size: 1rem;
}
.top-downloadbar-box .top-downloadbar .download-go{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: .6rem;
    padding: 0 .375rem;
    height: 1.125rem;
    line-height: 1.125rem;
    border-radius: .125rem;
    color: #fff;
    text-decoration: none;
    right: .375rem;
    background:red;
}

