*{
	margin: 0;
	padding: 0;
    font-family: "微软雅黑";
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear:both;
	visibility: hidden;
}
.clearfix{*zoom:1;}
a{
    text-decoration: none;
    color: black;
}
ul li{
	list-style: none;
}
img{
    border: none;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

html,body{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
}
/*主体内容*/
.main-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}
.main-wrap .main-content{
    width: 100%;
}
.main-wrap .main-content .dirBlock{
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: none;
}
.main-wrap .main-content .dirBlock .focus-wrap{

}
.main-wrap .main-content .dirBlock .focus-wrap .banner-top{
    height: 5rem;
    overflow: hidden;
    margin-bottom: -2PX;
    position: relative;
}
.main-wrap .main-content .dirBlock .focus-wrap .banner-top .banner-swiper{
    max-height: 7.8rem;
    position: static;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}
.main-wrap .main-content .dirBlock .thumb-row{
    overflow: hidden;
    padding-bottom: 0;
    padding-left: .4rem;
    padding-top: .625rem;
    background-color: #f0f0f0;
    padding: .8rem 0 0;
    text-align: center;
}
.main-wrap .main-content .dirBlock .thumb-row a .thumb-row-box{
    display: block;
    float: left;
    margin-top: .25rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: .25rem;
    height: 4rem;
    margin: 0 .36rem;
    width: 7.28rem;
}
.main-wrap .main-content .dirBlock .floor-header-more{
    background: #f0f0f0;
    color: #444;
    font-size: .8rem;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
}
.main-wrap .main-content .dirBlock .floor-header-more p{
    color: #000;
    font-size: 15PX;
}
.main-wrap .main-content .dirBlock .floor-header-more .more-btn{
    bottom: 0;
    color: #b0b0b0;
    font-size: 1.25rem;
    position: absolute;
    right: .75rem;
    top: 0;

}
.main-wrap .main-content .dirBlock .discount-list li{
    background: #fff;
    margin-bottom: .75rem;
}
.main-wrap .main-content .dirBlock .discount-list li:last-child{
    
    margin-bottom: 0;
}
.main-wrap .main-content .dirBlock .discount-list li a img{
    height: 6.25rem;
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.main-wrap .main-content .dirBlock .discount-list li a .discount-cont{
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    height: 1.925rem;
    line-height: 1.925rem;
    padding: 0 .5rem;
}
.main-wrap .main-content .dirBlock .discount-list li a .discount-cont .discount-title{
    float: left;
    font-size: .6rem;
    height: 1.925rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 11.25rem;
}
.main-wrap .main-content .dirBlock .discount-list li a .discount-cont .discount-time{
    float: right;
    font-size: .55rem;
}
.main-wrap .main-content .boyBlock{
    
}
.main-wrap .main-content .girlBlock{
    
}
.main-wrap .main-content .kidBlock{
    
}
.main-wrap .main-content .lifeBlock{
    
}
.main-wrap .main-content .floor-header{
    background: #fff;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    color: #b1b1b1;
    height: 1.75rem;
    line-height: 0.75rem;
    margin: .725rem .75rem 0;
    text-align: center;
}
.main-wrap .main-content .floor-header p{
    font-size: .75rem;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main-wrap .main-content .main-header{
    color: #fff;
    height: 2.25rem;
    line-height: 2.25rem;
    position: relative;
    width: 100%;
    z-index: 20;
    
}
.main-wrap .main-content .life{
    background: #4f4138;
}
.main-wrap .main-content .kid{
    background: #7ad9f9;
}
.main-wrap .main-content .boy{
    background: #323232;
}
.main-wrap .main-content .girl{
    background: #ff88ae;
}
.main-wrap .main-content .main-header .nav-back{
    color: #fff;
    display: block;
    font-size: 40px;
    height: 2.25rem;
    line-height: 2.25rem;
    outline: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: 2.25rem;
    left: 0;
}
.main-wrap .main-content .main-header .nav-home{
    font-size: .9rem;
    right: .5rem;
    text-transform: capitalize;
    width: auto;
    color: #fff;
    display: block;
    height: 2.25rem;
    line-height: 2.25rem;
    outline: none;
    position: absolute;
    text-align: center;
    top: 0;
    
}
.main-wrap .main-content .main-header .nav-title{
    color: #fff;
    font-size: .9rem;
    font-weight: 700;
    height: 100%;
    left: 0;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}
.main-wrap .main-content .main-header .homebutton.show{
    display: block;
}
.main-wrap .main-content .main-header .homebutton{
    border-radius: .25rem;
    box-shadow: 0 0.05rem 0.125rem 0 rgba(0,0,0,.6);
    display: none;
    font-size: .7rem;
    line-height: 2rem;
    min-width: 4.55rem;
    padding: .25rem .75rem;
    position: absolute;
    right: .5rem;
    text-align: center;
    top: 2.25rem;
    z-index: 2;
}
.main-wrap .main-content .main-header .homebutton a{
    border-bottom: .05rem solid #ccc;
    color: #fff;
    display: block;
}
.main-wrap .main-content .main-header .homebutton a:last-child{
    border-bottom: none;
}
.main-wrap .main-content .main-header .life{
    background: #4f4138;
}
.main-wrap .main-content .main-header .kid{
    background: #7ad9f9;
}
.main-wrap .main-content .main-header .boy{
    background: #323232;
}
.main-wrap .main-content .main-header .girl{
    background: #ff88ae;
}
.main-wrap .main-content .good-list-page .filter-tab .drop-list{
    display: none;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav{
    border-bottom: 1px solid #e6e6e6;
    border-top: .05rem solid #e0e0e0;
    position: relative;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li{
    float: left;
    font-size: 14PX;
    height: 33PX;
    line-height: 33PX;
    text-align: center;
    width: 20%;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a{
    box-sizing: border-box;
    color: #999;
    display: block;
    height: 100%;
    width: 100%;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav .active a{
    color: #444;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a .nav-txt{
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a .icon{
    position: relative;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a .icon i{
    -webkit-transform: scale(.8);
    font-weight: 700;
    position: absolute;
    transform: scale(.8);
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a .iconfont{
    font-size: 11px;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a .icon .up{
    top: -11PX;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav .active a .icon .cur{
    color: #444;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav .active a .icon i{
    color: #999;
}
.main-wrap .main-content .good-list-page .filter-tab .list-nav li a .icon .down{
    top: -4PX;
}
.main-wrap .main-content .good-list-page .filter-tab .drop-list{
    background: #fff;
    padding-left: .75rem;
    position: absolute;
    width: 100%;
    z-index: 10;
    
}
.main-wrap .main-content .good-list-page .filter-tab .drop-list li{
    border-bottom: 1px solid #e0e0e0;
    color: #b0b0b0;
    font-size: .7rem;
    height: 2.2rem;
    line-height: 2.2rem;
    width: 100%;
}
.main-wrap .main-content .good-list-page .filter-tab .drop-list .active span{
    color: #444;
}
.main-wrap .main-content .good-list-page .filter-tab .drop-list .active .chose{
    background-image: url(../img/logo_icon/chose.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    float: right;
    height: .55rem;
    margin-right: 1.75rem;
    margin-top: .825rem;
    width: .75rem;
}
.main-wrap .main-content .good-list-page .goods-container{
    min-height: auto!important;
    padding-left: .375rem;
    padding-top: .2rem;
    position: relative;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask{
    background: rgba(0,0,0,.1);
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: none;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body{
    background: #fff;
    color: #000;
    cursor: pointer;
    font-size: .7rem;
    height: 25rem;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify{
    background: #f8f8f8;
    height: 100%;
    width: 50%;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li{
    height: 3rem;
    line-height: 3rem;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li.active{
    background: #fff;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li .shower{
    color: #333;
    overflow: hidden;
    padding-left: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li .shower .title{
    color: #000;
    float: left;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li.active .sub-classify{
    display: block;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li .sub-classify{
    -webkit-overflow-scrolling: touch;
    display: none;
    height: 22rem;
    left: 50%;
    overflow: auto;
    position: absolute;
    top: 0;
    width: 50%;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li .sub-classify>li{
    border-bottom: 1px solid #e6e6e6;
    height: 3rem;
    line-height: 3rem;
    overflow: hidden;
    padding-left: .75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li .sub-classify .chosed i{
    display: inline;
}
.main-wrap .main-content .good-list-page .goods-container .filter-mask .filter-body .classify>li .sub-classify>li i{
    display: none;
}

.main-wrap .main-content .goods-container .goods-list{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
}
.main-wrap .main-content .goods-container .goods-list .no-result-new{
    padding-bottom: 2.75rem;
    padding-top: 2.25rem;
    text-align: center;
    width: 100%;
}
.main-wrap .main-content .goods-container .goods-list .no-result-new p{
    color: #ccc;
    font-size: .65rem;
    margin-bottom: .625rem;
    width: 100%;
}
.main-wrap .main-content .goods-container .goods-list .no-result-new p:first-child{
    color: #444;
    font-size: .8rem;
}
.main-wrap .main-content .goods-container .goods-list .good-info{
    height: 12.65rem;
    margin: .25rem .375rem 1rem;
    width: 6.9rem;
}
.main-wrap .main-content .goods-container .goods-list .good-info .tag-container{
    height: .7rem;
    overflow: hidden;
    width: 100%;
}
.main-wrap .main-content .goods-container .goods-list .good-info .tag-container .new-tag{
    background-color: #78dc7e;
    color: #fff;
    width: 1.5rem;
    float: left;
    font-size: 12PX;
    height: .7rem;
    line-height: .7rem;
    margin-right: .1rem;
    text-align: center;
}
.main-wrap .main-content .goods-container .goods-list .good-info .tag-container .pre-tag{
    background-color: #000;
    color: #fff;
    width: 1.5rem;
    float: left;
    font-size: 12PX;
    height: .7rem;
    line-height: .7rem;
    margin-right: .1rem;
    text-align: center;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img{
    height: 9.2rem;
    position: relative;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .good-thumb{
    
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .few-tag{
    bottom: 0;
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    background: #ffac5b;
    font-size: 12PX;
    height: .7rem;
    line-height: .7rem;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .good-thumb>img{
    display: block;
    height: 9.2rem;
    width: 100%;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .similar-c{
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .similar-c.show{
    display: block;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .similar-c .bg{
    background-color: #000;
    height: 100%;
    opacity: .6;
    width: 100%;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-img .similar-c>a{
    background-color: #d0021b;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: .7rem;
    height: 3rem;
    left: 50%;
    line-height: 3rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 3rem;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text{
    position: relative;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .name{

}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .name>a{
    -webkit-transform: scale(.9);
    font-size: 12PX;
    transform: scale(.9);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #444;
    display: -webkit-box;
    height: 1.47rem;
    line-height: .75rem;
    margin: .375rem 0 .25rem;
    min-height: 1.25rem;
    overflow: hidden;
    padding: .125rem 0;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .price{
    line-height: .55rem;
    white-space: nowrap;
    -webkit-transform: scale(.9);
    font-size: 12PX;
    transform: scale(.9);
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .price .sale-price.no-price{
    color: #000;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .price .sale-price{
    color: #d62927;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .price .market-price{
    color: #b0b0b0;
    font-size: 12PX;
    margin: 0 0 0 .125rem;
    text-decoration: line-through;
}
.main-wrap .main-content .goods-container .goods-list .good-info .good-detail-text .similar-btn{
    bottom: -.5rem;
    color: #b0b0b0;
    font-weight: 700;
    height: 2rem;
    line-height: 2.5rem;
    position: absolute;
    right: 0;
    text-align: center;
    width: 1.25rem;
}
.main-wrap .main-content .ym-footer{
    background-color: #fff;
    /* display: none; */
    font-size: .6rem;
    position: relative;
    width: 100%;
}
.main-wrap .main-content .ym-footer .op-row{
    height: 3rem;
    line-height: 3rem;
    padding: 0 .75rem;
}
.main-wrap .main-content .ym-footer .op-row span{
    display: inline-block;
    overflow: hidden;
}
.main-wrap .main-content .ym-footer .op-row .user-name{
    max-width: 5rem;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-wrap .main-content .ym-footer .op-row .sep-line{
    color: #e0e0e0;
    margin: 0 .75rem;
}
.main-wrap .main-content .ym-footer .op-row a{
    display: inline-block;
    overflow: hidden;
}
.main-wrap .main-content .ym-footer .op-row .back-to-top{
    position: absolute;
    right: 1rem;
}
.main-wrap .main-content .ym-footer .float-top{

}
.main-wrap .main-content .ym-footer .copyright{
    background-color: #eee;
    color: #666;
    font-size: .6rem;
    height: 60PX;
    line-height: 60PX;
    text-align: center;
    font-style: normal;
}
.main-wrap .main-content .ym-footer .op-row .checkOutModel{
    display: inline-block;
    overflow: hidden;
}