<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>默认购物频道</title>
    <link rel="stylesheet" href="../icon/ymHome_icon/iconfont.css">
    <link rel="stylesheet" href="../lib/swiper/css/swiper.css">
    <link rel="stylesheet" href="../css/ymHome.css">
    <script type="text/javascript" src="../lib/rem.js"></script>
</head>
<body class="font">
<div class="wrap">
	<div class="top-downloadbar">
	    <a href="" class="download-close"></a>
	    <span class="download-icon"></span>
	    <span class="download-text">Yoho!Buy有货</span>
	    <p class="download-text-desc">新用户送惊喜礼包</p>
	    <a href="../index.html" class="download-go">立即打开</a>
	</div>
	<div class="family-heade">
		<div class="header-top">
			<a href="../ymHome.html"><span class="back"></span></a>
			<span class="headings"></span>
		</div>
		<div class="person-detail">
			<a href="ymHome-basics.html" class="user-avatar"></a>
			<div class="basic-info">
				<span class="name">YOHO-1762f63c7</span>
				<span class="gender"></span>
			</div>
			<div class="invition">
				<span class="code trend-code">
					#
					<span class="word-outer">
						<span class="trend-word">li228821</span>
					</span>
					#
				</span>
				<span class="code-set"></span>
				<span class="code-tip"></span>
			</div>
		</div>
	</div>
	<div class="vip-grade">
		<div class="title">会员等级及权益</div>
		<div class="grade-content">
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-09.png" alt="" class="item-tag">
				<span class="item">Yoho!Buy</span>
				<span class="level"></span>
			</div>
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-10.png" alt="" class="item-tag">
				<span class="item">mars</span>
				<span class="level"></span>
			</div>
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-11.png" alt="" class="item-tag">
				<span class="item">Yoho!Now</span>
				<span class="level">敬请期待</span>
			</div>
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-12.png" alt="" class="item-tag">
				<span class="item">Yo!GREEN</span>
				<span class="level"></span>
			</div>
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-13.png" alt="" class="item-tag">
				<span class="item">Yo!COFFEE</span>
				<span class="level"></span>
			</div>
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-14.png" alt="" class="item-tag">
				<span class="item">Yo!LITTLE</span>
				<span class="level"></span>
			</div>
			<div class="content-item">
				<img src="../img/logo_icon/ymHome-15.png" alt="" class="item-tag">
				<span class="item">Yo!GALLERY</span>
				<span class="level"></span>
			</div>
		</div>
		
	</div>
	<div class="integral">
		<div class="title">积分乐园</div>
		<div class="integral-content">
			<div class="charts" id="main">
			</div>
			<a href="../ymDiscount.html" class="integral-total">
			    <span class="total-a">0</span>
			    <span class="total-b">积分余额</span>
		    </a>
			<div class="mark">
				<div class="mark-item">
					<span class="item-name">Yoho!Buy</span>
					<span class="item-color" 
					style="background-color: #c23531"></span>
					<span class="item-val">0</span>
				</div>
				<div class="mark-item">
					<span class="item-name">Yoho!Buy</span>
					<span class="item-color" 
					style="background-color: #2f4554"></span>
					<span class="item-val">0</span>
				</div>
				<div class="mark-item">
					<span class="item-name">Yoho!Buy</span>
					<span class="item-color" 
					style="background-color: #61a0a8"></span>
					<span class="item-val">0</span>
				</div>
				<div class="mark-item">
					<span class="item-name">Yoho!Buy</span>
					<span class="item-color" 
					style="background-color: #91c7ae"></span>
					<span class="item-val">0</span>
				</div>
				<div class="mark-item">
					<span class="item-name">Yoho!Buy</span>
					<span class="item-color" 
					style="background-color: #749f83"></span>
					<span class="item-val">0</span>
				</div>
				<div class="mark-item">
					<span class="item-name">Yoho!Buy</span>
					<span class="item-color" 
					style="background-color: #ca8622"></span>
					<span class="item-val">0</span>
				</div>
				<div class="instruction">
					注：<span>YOHO!Family 所有产品积分可通用</span>
				</div>
			</div>
		</div>
	</div>
	<div class="rec">
		<div class="resource-own">
			<img src="../img/logo_icon/ymHome-16.png" alt="">
		</div>
		<div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../img/logo_icon/ymHome-05.jpg" alt=""></div>
                <div class="swiper-slide"><img src="../img/logo_icon/ymHome-06.jpg" alt=""></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
	</div>
</div>
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/ymHome.js"></script>
<script src="../js/echarts.js"></script>
<script src="../lib/swiper/js/swiper.js"></script>
<script>
// echarys
var myChart = echarts.init(document.getElementById('main'));
option = {
    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
    },
    series: [
        {
            name:'访问来源',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[
                {value:500, name:''},
                {value:500, name:''},
                {value:500, name:''},
                {value:500, name:''},
                {value:500, name:''},
                {value:500, name:''},
                {value:500, name:''}
            ]
        }
    ]
};
myChart.setOption(option);


// banner
var swiper = new Swiper('.swiper-container', {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
});
  
</script>
</body>
</html>