<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<title>基本资料</title>
	<link rel="stylesheet" href="../css/ymHome.css">
    <link rel="stylesheet" href="../icon/ymHome_icon/iconfont.css">
    <link rel="stylesheet" href="../lib/swiper/css/swiper.css">
    <script type="text/javascript" src="../lib/rem.js"></script>
</head>
<body class="font">
<div class="wrap">
	<div class="top-downloadbar">
	    <a href="" class="download-close"></a>
	    <span class="download-icon"></span>
	    <span class="download-text">Yoho!Buy有货</span>
	    <p class="download-text-desc">新用户送惊喜礼包</p>
	    <a href="../index.html" class="download-go">立即打开</a>
	</div>
	<div class="header">
		<a href="../ymHome.html" class="iconfont nav-back icon-fanhui1"></a>
		<span class="iconfont nav-home icon-daohang"></span>
		<p class="header-title">基本资料</p>
		<div class="header-nav display">
			<div class="nav-arr"></div>
			<ul>
				<li>
					<a href="index.html"></a>
					<i class="iconfont"></i>
					<span>首页</span>
				</li>
				<li>
					<a href="ymCate.html"></a>
					<i class="iconfont"></i>
					<span>分类</span>
				</li>
				<li>
					<a href="ymCart.html"></a>
					<i class="iconfont"></i>
					<span>购物车</span>
				</li>
				<li>
					<a href=""></a>
					<i class="iconfont"></i>
					<span>我的</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="personal-details yoho-page">
		<ul>
			<li>
				<span>头像</span>
				<span>
					<i class="head-portrait user-avatar"></i>
				</span>
			</li>
			<li>
				<span>昵称</span>
				<span>YOHO-1762f63c7</span>
			</li>
			<li>
				<span>性别</span>
				<span>男</span>
			</li>
			<li>
				<span>生日</span>
				<span></span>
			</li>
		</ul>
		<ul>
			<li class="tap-hightlight">
				<span>会员等级</span>
				<span>
					<a href="" class="grade">
						<i class="iconfont"></i>
						<span class="iconfont icon-qianjin"></span>
					</a>
				</span>
			</li>
			<li>
				<span>我的二维码</span>
				<span>
					<a href="" class="grade">
						<i class="iconfont icon-erweima qrcode" style="color: #b0b0b0; font-size:0.8rem"></i>
						<span class="iconfont icon-qianjin"></span>
					</a>
				</span>
			</li>
			<li class="trend-word">
				<span>我的潮流口令</span>
				<span>
					<a href="" class="grade">
						123456
						<span class="iconfont icon-qianjin"></span>
					</a>
				</span>
			</li>
		</ul>
		<ul>
			<li class="tap-hightlight" style="border:0;">
				<span>地址管理</span>
				<span>
					<a href="../location.html" class="grade">
						<i class="iconfont"></i>
						<span class="iconfont icon-qianjin"></span>
					</a>
				</span>
			</li>
		</ul>
	</div>
	
</div>
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/ymHome.js"></script>
</body>
</html>